%h1 FRIDAY
= render :partial => 'schedules/day_timeline', :locals => { :day => "FRIDAY"}

%h1 SATURDAY
= render :partial => 'schedules/day_timeline', :locals => { :day => "SATURDAY"}

%h1 SUNDAY
= render :partial => 'schedules/day_timeline', :locals => { :day => "SUNDAY"}
