.event{:style => "border: 1px solid black; margin-bottom: 5px; width: 800px;"}
  Name:
  %a{:href => event.url} 
    =event.name
  %span
    %a{:href => "#"} Add this to my schedule
  %br
  Location:
  = event.venue.name
  %br
  Description:
  = event.description
  %br
  Start Time:
  = event.start_time
  %br
  End Time:
  = event.end_time
