.event
  Name:
  %a{:href => event.url, :class => "event_title"} 
    =event.name
  - if @user
    %span
      - if @user.schedule.schedule_entries.find_by_event_id(event.id).is_a? ScheduleEntry
        %a{ :href => "#", :id => event.id, :class => "schedule_remove" } X
  - else
    %a{ :href => "#", :id => event.id, :class => "schedule_add" } +
  %br
  Location:
  = event.venue.name
  %br
  Description:
  = event.description
  %br
  Start Time:
  = event.start_time
  %br
  End Time:
  = event.end_time
